/*@font-face {
        font-family: 'Back to 1982';
        src: url('././Fonts/back-to-1982/BACKTO1982.ttf') format('truetype');
      }*/

body {
  background-image: url("../Background.png");
  /*display: inline-block;*/
  background-size: stretch;
  background-color: #7693b3;
  background-repeat: repeat-x;
}

header {
  /*top & center*/
  /*font-family: 'Back to 1982', Fallback, sans-serif;*/
  font-family: 'Impact', sans-serif
  position: relative;
  z-index: 3;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

ul {
    color:#5e7084;
    list-style-type: none;
}
#gameId {
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
/* Style buttons, tomagotchi, animations, backgrounds, paragraphs, fonts, use flexbox?*/
#descActions {
  /*paragraph left, buttons underneath and inline*/
  display: flex;
  justify-content: space-between;
}

#actionButtons {
  display: flex;
  justify-content: space-between;
}

#statLevels {
  /*inline across the top*/
  display: inline-block;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  background-color: rgb(232, 125, 4);
  height: 400px;
  width: 300px;
  border-radius: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  height: 250px;
  width: 235px;
  border-radius: 5%;
  background-color: rgb(198, 194, 190);
  display: flex;
  justify-content: center;
  align-items: center;
}

#petGraphic {
  height: 190px;
  width: 160px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

#petGraphic fadeInOut {
  animation-delay: 4.5s;
  animation-iteration-count: 2;
  -moz-animation-duration: 0.5s;
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*.g2 {
    height: 220px;
    width: 190px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 5s infinite alternate fadein;
}

.g3 {
    height: 240px;
    width: 225px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 5s infinite alternate fadein;
}*/
  