@font-face {
  font-family: "Back to 1982";
  src: url(".././BACKTO1982.ttf");
}

body {
  background-image: url("../Background.png");
  /*display: inline-block;*/
  background-size: stretch;
  background-color: #2e394f;
  background-repeat: repeat-x;
}

header {
  /*top & center*/
  font-family: "Back to 1982", Fallback, sans-serif;
  /*font-family: 'Arial', sans-serif;*/
  font-size: 28px;
  font-weight: 300;
  color: #18402a;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: auto;
}

ul {
  color: #ffffff;
  list-style-type: none;
  font-family: "Back to 1982", Fallback, sans-serif;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

p {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Back to 1982", Fallback, sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: #7693b3;
}

#gameStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Style buttons, tomagotchi, animations, backgrounds, paragraphs, fonts, use flexbox?*/
#descActions {
  /*paragraph left, buttons underneath and inline*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#actionButtons {
  display: none;
  /*display: flex;*/
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}

/* button {
    padding: 5px;
    width: 60px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*#array {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}*/

#statLevels {
  /*inline across the top*/
  padding: 5px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

#statsDisplay {
  display: none;
  padding: 0;
  margin: 0;
  align-items: flex-start;
}

ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#allHearts img {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.pet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  background-color: #18402a;
  height: 400px;
  width: 300px;
  border-radius: 47%;
  border-color: teal;
  border-width: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  height: 250px;
  width: 235px;
  border-radius: 20%;
  border-width: 5px;
  background-color: #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#petGraphic {
  height: 100%;
  width: 90%;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bubble {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#morph {
  display: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dark {
    background-color: #4a4a4a;
}

.bounce {
  animation-duration: 3s;
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slidein {
  animation-duration: 2s;
  animation-name: slidein;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  z-index: 1;
}
.slideout {
  animation-duration: 2s;
  animation-name: slideout;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  z-index: 0;
}

.fadein {
  animation: fadein 2s ease-in 2s 1;
  z-index: 1;
}

.fadeout {
  animation: fadeout 2s ease-out 2s 1;
  z-index: 0;
}

.burst {
  animation: burst 3s 2s 1;
  z-index: 1;
}

.growshrink {
  animation: grow-shrink 2s 1;
}

/* #petGraphic {
    animation-duration: 5s;
    animation-name: bounce; 
    animation-iteration-count: 4;
} */

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideout {
  from {
    margin-left: 0%;
    width: 100%;
  }
  to {
    margin-left: 100%;
    width: 300%;
  }
}

@keyframes fadein {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes burst {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes growshrink {
  0% {
    display: none;
    transform: scale(1);
  }
  1% {
    display: flex;
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    display: none;
  }
}
  